table.views-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.views-table tbody tr {

}
table.views-table tbody td {
  font-size: 14px;
  padding: 5px;
  background: #fff5f5;
}
table.views-table td:nth-child(even) {
  background: white;
}
table.views-table thead, table.sticky-header thead {
  background: #FFFFFF;
}
table.views-table thead th, table.sticky-header thead th {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background: #b74949;
}
table.views-table thead th a, table.sticky-header thead th a {
  text-decoration: none;
  border:  none;
}

table.views-table tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
table.views-table tfoot td {
  font-size: 14px;
}
